body{
	min-width: 300px; 
	margin: 0px auto;
	background-color: rgb(229, 252, 255);
}
ul{
	margin: 0px auto;
	list-style: none;
	padding: 0px;
}
span{
	margin: 0px auto;
}
li{
	padding: 0.5em 1em;
	font-family: Verdana;
	opacity: 1;
  	transition: opacity 1s;
  	transition: visibility 1s;
}
#url{
	width: 100%;
}
li:hover{
	color:	rgb(0, 153, 51);
	text-decoration: line-through;
}
li:active{ /*fade out effect*/
  	opacity: 0;
  	visibility: hidden;
} 
#container{
	min-height: 50px;
}

#box{
	display: inline-flex;
	margin-bottom: 0px;
	height: 0px;
	padding-top: 0px;
	float: bottom;
}
#cb{
	vertical-align: -2px;
	margin-right:20px;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#cbox{
	color: red;
	position: relative;
	display: inline-block;
}
.btn{
	margin-bottom: 5px;
}